# Machine Learning Project

## Data Description

insert here

## Aims and methodology

insert here

## Data Preparation
<a id='dataprep'></a>
First we import the dataset as well as any useful libraries, then perform some initial configuration.

In [7]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

# Ignore python warnings
import warnings
warnings.filterwarnings('ignore')

# display all columns
pd.set_option('display.max_columns', None) 

# read in and configure data with column names
# col_names = ['age', 'sex', 'chest_pain_type', 'resting_bp', 'serum_cholestoral', 'fasting_blood_sugar', 'resting_ecg_results', 'max_hr_achieved', 'exercise_induced_angina', 'oldpeak', 'slope_of_peak_exercise', 'no_of_major_vessels', 'thal', 'target']
# these names are abbreviated below for space
col_names = ['age', 'sex', 'cpt', 'rb', 'sc', 'fbs', 'rer', 'mha', 'eia', 'old', 'sope', 'nomv', 'thal', 'target'] 
df = pd.read_csv('heart.csv',names=col_names,header=None)
df.head()

,age,sex,cpt,rb,sc,fbs,rer,mha,eia,old,sope,nomv,thal,target
0,70.0,1.0,4.0,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0,2
1,67.0,0.0,3.0,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,1
2,57.0,1.0,2.0,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0,2
3,64.0,1.0,4.0,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0,1
4,74.0,0.0,2.0,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,1

In [ ]:
# separate target from data

# integer encode target feature 

# NO MISSING VALUES - but are there outliers?

# integer encode all binary features: sex, fsb, eia

# NOMINAL AND ORDINAL FEATURES ALREADY INTEGER ENCODED - one-hot encode nominal?

# scale features

## Data Exploration & Visualisation